extends ./header.pug

block append body
	.columns(style="align-items: center")
		.column.is-2(style="text-align: center")
			img(
				src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/201-question.png",
				alt="Question mark Unown"
			)
		.column
			p.title.is-3 About Pokécompanion

	hr

	.content
		p.title.is-4 Purpose
		p The world of Pokémon is gigantic. With a massive community, all sorts of spin-off games, movies, animes, creepypastas and so much more, there is huge amount of information present on the internet.
		p As wonderful as that is, it makes finding even basic information like "at what level does this Pokémon evolve" hard to answer sometimes. This is where the Pokécompanion comes in.
		p This website, and the way it displays content, has been focussed around the mainline Pokémon games from Generations 1 through 9. Selecting a specific game from the "Options" menu will narrow information down to just that specific game as good as possible.
		p The idea is, that when you're sat down and need a specific bit of information, you should be able to find it here quickly with minimal effort and scrolling required.
		p And finally, I grew up playing Pokémon games in German before emigrating to the UK and now playing them in English. So I wanted to add the ability to search in multiple languages. In the near future, languages other than English and German will be supported too.

		p.title.is-4.mt-6 Data quality
		p This website uses the #[a.is-underlined.link(href="https://github.com/PokeAPI/pokeapi/issues?q=is%3Aissue+is%3Aopen+") PokéAPI] which is maintained by the community and is not affiliated with Nintendo. It is free for anyone to use, but offers no guarantees about the accuracy of its data.
		p As mentioned in the section above, there is a lot of data in the Pokémon world, even when narrowed down to the main-series games. If you spot any issues, please raise an issue on the PokéAPIs GitHub page, and if you have the time maybe even tackle it yourself!
		p That being said, the following issues are known to have filtered through to this website:

		ul
			li Region specific evolutions aren't dealt with properly. See #[a.is-underlined(href="/pokemon/52") #52 Meowth] or #[a.is-underlined(href="/pokemon/194") #194 Wooper] for example. #[a.link.is-underlined(href="https://github.com/PokeAPI/pokeapi/issues/844") Github Issue]
			li Form abilities aren't linked correctly See #[a.is-underlined(href="/ability/185") Parental Bond] with #[a.is-underlined(href="pokemon/115?variety=10039") #115 Mega Kangaskhan] for example.
			li Evolutions that are location specific and vary from game to game, multiple entries will always be displayed. See #[a.is-underlined(href="/ability/133") Eeveelutions] for example.

		p.title.is-4.mt-6 Legal
		p Neither this website, nor its creators or otherwise affiliated are associated with Nintendo. Pokémon and any associated contents displayed are trademarks of Nintendo.
		p PokéAPI is licensed for use with a modified #[a.link.is-underlined(href="https://github.com/PokeAPI/pokeapi/blob/master/LICENSE.md") BSD-3 License]. This website is not associated with PokéAPI.
		p This website is licensed under #[a.link.is-underlined(href="https://github.com/helblingjoel/pokewiki/blob/main/LICENSE.md") GNU General Public License v3.0].
