doctype html

head
  block head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='icon' type='image/png' href='https://www.helbling.uk/favicon.ico')
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css')
  script(href='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
  script(src='/static/js/cookies.js')
  script(src='/static/js/ui.js')
  style.
    @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
  title Pokéwiki

body
  nav.navbar(role='navigation', aria-label='main navigation')
    .navbar-brand(href='/')
      a.navbar-item(href='/')
        img(src='/static/pokemon.png')
      a.navbar-item(href='/')  Pokémon
  
  .container.is-max-desktop.pl-6.pr-6.pb-6
    block body
      form(action="/search", method="get", id="search").pb-3
        .field.has-addons
            .control(style="width: 100%")
                input.input(type="text", id="searchBar", name="term" placeholder="Search for something!")
            button.button(onclick="openFilter();", type="button", style="background-color: #f5f5f5;") Options
        
        input(type="submit", hidden)#searchSubmit
        style.
            table#statsTable * {
                padding-left: 0;
                padding-right: 0;
            }
        .modal#filterModal(hidden)
            .modal-background(onclick="closeFilter();")
            .modal-card
                .modal-card-body
                    .box
                        p.title.is-5 Select game    
                        .select(form="search", name="game")
                            select(form="search", name="game", id="gameSelector")
                                option(value="all") Any
                                option(value="legends-arceus") Legends Areceus
                                option(value="brilliant-diamond-and-shining-pearl") Brilliant Diamond / Shining Pearl
                                option(value="sword-shield") Sword / Shield
                                option(value="lets-go-pikachu-lets-go-eevee") Let's Go Pikachu / Eevee 
                                option(value="ultra-sun-ultra-moon") Ultra Sun / Ultra Moon
                                option(value="sun-moon") Sun / Moon
                                option(value="omega-ruby-alpha-sapphire") Omega Ruby / Alpha Sapphire
                                option(value="x-y") X / Y
                                option(value="black-2-white-2") Black 2 / White 2
                                option(value="black-white") Black / White
                                option(value="heartgold-soulsilver") Heart Gold / Soul Silver
                                option(value="platinum") Platinum
                                option(value="diamond-pearl") Diamond / Pearl
                                option(value="firered-leafgreen") Firered / Leafgreen
                                option(value="emerald") Emerald
                                option(value="ruby-sapphire") Ruby / Sapphire
                                option(value="crystal") Crystal
                                option(value="gold-silver") Gold / Silver
                                option(value="yellow") Yellow
                                option(value="red-blue") Red / Blue
                    .box
                        p.title.is-5 Types of results
                        .columns
                            .column
                                input(type='checkbox', id='showPokemon', name="pokemon", value="true", checked).mr-2
                                label(for="showPokemon").pr-4 Pokémon
                            .column
                                input(type='checkbox', id='showItems', name="items", value="true", checked).mr-2
                                label(for="showItems").pr-4 Items
                            .column
                                input(type='checkbox', id='showMoves', name="moves", value="true", checked).mr-2
                                label(for="showMoves").pr-4 Moves
                            .column
                                input(type='checkbox', id='showAbilities', name="abilities" value="true", checked).mr-2
                                label(for="showAbilities").pr-4 Abilities
                footer.modal-card-foot
                    button.button(onclick="submitSearch();", type="button").is-info Search
                    button.button(onclick="closeFilter();", type="button") Close
    
