extends ./header.pug
block append head
	script(src="/static/js/index.js")

block append body
	#notice.message.is-warning
		.message-header
			p Notice
			button.delete(onclick="hideNotice();")
		.message-body
			p Generations 8 (BDSP + Legends Arceus) and 9 (Scarlet/Violet) are known to have incomplete datasets and may display false information.
			p To track progress, check out the #[a(href="https://github.com/PokeAPI/pokeapi/issues?q=is%3Aissue+is%3Aopen+") PokéAPIs Github Page]
	.box
		p.title.is-3 Changelog
		.content
			p While moves, abilities and types are listed, their pages have not been built yet. This website is still in active development.
			p.title.is-5 WIP
			ul
				li When viewing an item with a game that doesn't include it, state so.
			p.title.is-5 29 January 2023
			ul
				li Dark theme
				li Better error handling
				li Items now supported
			p#extendChangelog Show more...
			#oldChanges.hidden
				p.title.is-5 27 January 2023
				ul
					li Selecting a game will display Pokémon sprites of that generation
					li Cache API responses
				p.title.is-5 12 January 2023
				ul
					li Basic Scarlet/Violet support
					li Support for different Pokémon forms
					li Selected game to correctly represent a Pokémon's type
