extend  ./header.pug

block append body
    .container.is-max-desktop.pl-6.pr-6
        nav.breadcrumb(aria-label="breadcrumbs")
            ul
                if results
                    li
                        a(href="/") Search
                    li.is-active
                        a #{searchTerm}
                else 
                    li.is-active
                        a(href="/") Home

        form(action="/search", method="get", id="search", onsubmit="addHistory();").pb-3
            input.input(type="text" name="term" placeholder="Search for something!" onsubmit="document.forms['search'].submit()")
            input(type="submit" hidden)
        
        if results
            p.title.is-3 Results for #{searchTerm}
            
            each resultType in results
                p #{JSON.stringify(resultType)}