extends ./header.pug

block append body
	#notice.message.is-warning
		.message-header
			p Notice
			button.delete(onclick="hideNotice();")
		.message-body
			p Only partial information about Pokémon Scarlet and Pokémon Scarlet is available. Brilliant Diamond/Shining Pearl and Legends Arceus is also known to have gaps in their data.
			p To keep track of the progress, check the #[a(href="https://github.com/PokeAPI/pokeapi/issues?q=is%3Aissue+is%3Aopen+") PokéAPIs Github Page]
	.box
		p.title.is-3 Changelog
		.content
			ul
				li Basic Scarlet/Violet support
				li Support for different Pokémon forms
				li Selected game to correctly represent a Pokémon's type
